.services {
    height: 100dvh;
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.services .line {
    background-color: #AAFCEE;
    height: 1vh;
    width: 10vw;
    margin-top: -5px;
}

.services i {
    color: #AAFCEE;
    margin-left: -2px;
    margin-top: -5px;
}

.services h2 {
    padding-right: 10px;
}

.services .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: #fff;
    border-radius: 15px;
    width: 30vw;
    height: 55vh;
    text-align: center;
    color: black;
    padding: 10px;
}