.project {
    height: auto;
    padding: 3rem;

}

.project .line {
    background-color: #AAFCEE;
    height: 1vh;
    width: 10vw;
    margin-top: -5px;
}

.project i {
    color: #AAFCEE;
    margin-left: -2px;
    margin-top: -5px;
}

.project h2 {
    padding-right: 10px;
}

.project .cards {
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.project .cards .card {
    padding: 10px !important;
    border-radius: 12px;
}

.project .cards .card-img,
.card-img-top {
    border-radius: 12px !important;
}

.project .cards .card-body {
    display: flex;
    flex-direction: column;
    align-items: center !important;
}

.project .cards .card-body .card-title {
    font-weight: 600;
}

.project .modal-content {
    border-radius: 100px !important;
}

.modal-content img {
    width: 100% !important;
    height: 50%;
}

@media (max-width: 768px) {
    .project {
        width: auto;
        padding: 5px;
        margin-top: 3rem;
    }

    .project .cards .card {
        width: auto !important;
    }

    .modal-content {
        height: 50dvh !important;
        background-color: transparent !important;
    }
}