.about {
    height: 100dvh;
    width: 100%;
    justify-content: space-evenly;
}

.about img{
    width: 30vw;
}

.about .line {
    background-color: #AAFCEE;
    height: 1vh;
    width: 10vw;
    margin-top: -5px;
}

.about .body i {
    color: #AAFCEE;
    margin-left: -2px;
    margin-top: -5px;
}

.about .body h2{
    padding-right: 10px;
}