.contact {
    height: 100dvh;
    width: 100%;
    justify-content: space-evenly;
}

.contact .card input,
.contact .card textarea {
    border: none;
    resize: none;
    padding: 10px;
    background-color: #AAFCEE;
    border-radius: 12px;
    padding-left: 10px;
}

.contact .card input:focus,
.contact .card textarea:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.contact .card {
    width: 30vw;
    height: 50vh;
    border-radius: 18px;
    padding: 20px;
}

.contact .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact .card .btn {
    border-radius: 12px;
    /* width: 50%; */
}

.contact h1 {
    color: #AAFCEE;
}

.contact .links {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.contact .links i {
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .contact {
        flex-direction: column;
    }

    .contact .card {
        width: auto;
        height: 40%;
    }
}